/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #000;
  --first-color-dark: #2F0A0D;
  --text-color: #524748;
  --first-color-light: #7B6F71;
  --first-color-lighten: #FBF9F9;

  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*===== Font weight =====*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*===== z index =====*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h2,h3{
  font-weight: var(--font-semi-bold);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*===== CLASS CSS =====*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: 4rem;
  color: var(--first-color);
  font-weight: var(--font-bold);
}

.section-subtitle{
  display: block;
  font-size: .8rem;
  font-weight: var(--font-semi-bold); 
}

.section-title span{
  color: #00ee92;
}
/*===== LAYOUT =====*/

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
/*===== NAV =====*/
.nav{
  max-width: 1024px;
  width: calc(100% - 2rem);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: var(--font-semi-bold);
}

@media screen and (max-width: 768px) {
  .nav-menu{
    position: fixed;
    top: -100%;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000;
    transition: 0.55s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 5%;
    width: 93%;
  }  
}

.nav-logo{
  margin-top: 12px;
  width: 70px;
  margin-left: var(--mb-2);
  z-index: 999;
}

.nav-item{
  font-size: 1rem;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
}

.nav-link{
  color: var(--first-color-lighten);
  transition: .3s;
}

.nav-link:hover{
  color: #00ee92;
}

.nav-toggle{
  color: var(--first-color-lighten);
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 999;
}

/* Contact Button */
.nav-menu a.contact-btn{
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 20px 30px;
  display: inline-block;
  border-radius: 3px;
  transition: 0.45s ease;
}

.nav-menu a.contact-btn:hover{
  color: #000;
  background: #fff;
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  position: relative;
  color: #00ee91;
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: -.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: #00ee92;
}

/* Change background header */
.scroll-header{
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: 0.20s ease;
}

.scroll-header .nav-logo{
  filter: invert(1);
}

.scroll-header .nav-toggle, .scroll-header .nav-link{
  color: var(--first-color-dark);
}

.scroll-header .nav-menu{
  background-color: var(--first-color-lighten);
  transition: 0.55s ease;
}

.scroll-header .nav-menu a.contact-btn{
  border: 1px solid #000;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  margin: 0px 20px 30px;
  display: inline-block;
  border-radius: 3px;
  transition: 0.45s ease;
}

.scroll-header .nav-menu a.contact-btn:hover{
  color: #fff;
  background: #000;
}

/*===== SCROLL TOP =====*/
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: rgba(123,111,113,.7);
  border-radius: .5rem;
  z-index: 900;
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color);
}

.scrolltop-icon{
  font-size: 2rem;
  color: var(--first-color-lighten);
}

/* Show scroll top */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*===== HOME =====*/
.home video{
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home:before{
  z-index: -1;
  content: '';
  position: fixed;
  background: rgba(0, 0, 0, 0.850);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home{
  overflow: hidden;
  text-align: center;
}

.home-container{
  padding: 8rem 1rem 2rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: space-around;
}

.home-data{
  color: var(--first-color-lighten);
}

.home h1{
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-3);
}

.home-description{
  display: block;
  font-weight: var(--font-regular);
}

.home-description span{
  font-weight: var(--font-bold);
  color: #00ee92;
}

.home-img{
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-img img{
  width: 470px;
}

.home-social{
  display: flex;
  justify-content: center;
  margin: 20px;
  transition: 0.3s ease;
}

.home-social-icon{
  width: max-content;
  font-size: 1.3rem;
  color: var(--first-color-lighten);
  padding: 10px;
  transition: 0.3s ease;
}

.home-social-icon:hover{
  color: #00ee92;
  transform: scale(1.3);
}

/*===== ABOUT =====*/

.about{
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  border-top: 10px solid #00ee92;
}

.about-container{
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.row{
	flex-wrap: wrap;
  margin-top: 40px;
}

.about .section-title h1 span{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
  margin-bottom: 30px;
}

.about .section-title p{
  font-weight: var(--font-regular);
	font-size:30px;
	text-align: center;
	margin:15px 0 0;
	color:#000;
}
.about .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.about .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.about .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.about .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.about .team-items .item .inner .info{
  background-color: rgb(248, 248, 248);
  box-shadow: 0 4px 6px rgba(174,190,205,.5);
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.about .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.about .team-items .item:hover{
 transform: translateY(-10px);	
}
.about .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color: rgb(179, 179, 179);
}
.about .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#000;
	margin:10px 0 0;
}

.about .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.about .team-items .item .inner .info .social-links a{
  width: max-content;
  font-size: 1.5rem;
  color: rgb(179, 179, 179);
  padding: 10px;
  transition: 0.3s ease;
}

.about .team-items .item .inner .info .social-links a:hover{
	color: #00bb73;
  transform: scale(1.3);
}

/*responsive*/
@media(max-width: 991px){
	.about .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.about .team-items .item{
      flex-basis: calc(100% - 30px);
       max-width: calc(100% - 30px);

   }
}

/*===== SERVICES =====*/
.services{
  overflow: hidden;
  background-color: #fff;
}

.services-container{
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.services-data{
  padding: 3rem 1rem;
  background-color: rgb(248, 248, 248);
  border-radius: .5rem;
  text-align: center;
  transition: .4s;
  box-shadow: 0 4px 6px rgba(174,190,205,.5);
}

.services-btn:hover{
  color: #fff;
  background: #000;
}

.services-icon, .services-title{
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}

.services-icon{
  font-size: 3rem;
}

.services-title{
  font-size: var(--h3-font-size);
}

.services-description{
  margin-bottom: var(--mb-4);
}

.services-data:hover{
  transform: translateY(-.5rem);
  box-shadow: 0 6px 8px rgba(174,190,205,.6);
}

/*===== PORTFOLIO =====*/
.portfolio{
  overflow: hidden;
  background-color: #fff;
}

.portfolio-container{
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.portfolio-nav{
  text-align: center;
  margin-bottom: var(--mb-3);
}

.portfolio-item{
  margin: 0 var(--mb-2);
  cursor: pointer;
}

.portfolio-content{
  background-color: rgb(248, 248, 248);
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174,190,205,.5);
}

.portfolio-img{
  width: 100%;
  transition: .4s;
}

.portfolio-data{
  padding: 1.5rem;
}

.portfolio-subtitle{
  font-size: var(--small-font-size);
  color: var(--first-color-light);
}

.portfolio-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin: var(--mb-2) 0;
}

.portfolio-content:hover{
  box-shadow: 0 6px 8px rgba(174,190,205,.6);
}

.portfolio-content:hover .portfolio-img{
  transform: scale(1.02);
}

/* Active menu portfolio*/
.active-portfolio{
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

/*===== CONTACTME =====*/
.contact{
  overflow: hidden;
  background-color: #fff;
}

.contact-container{
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
  row-gap: 2.5rem;
  margin-top: 40px;
}

.contact-content{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact-box{
  background-color: rgb(248, 248, 248);
  border-radius: .5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(174,190,205,.5);
}

.contact-icon, .contact-title{
  color: var(--first-color);
}

.contact-icon{
  font-size: 2rem;
}

.contact-title{
  font-size: var(--h3-font-size);
  margin: var(--mb-1) 0;
}

.contact-box:hover{
  box-shadow: 0 6px 8px rgba(174,190,205,.6);
}

.wrapper{
  width: 100%;
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}

.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #524748;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #5247487e;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #00ee92;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #00ee92;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #00ee92;
  transition: background 0.3s ease;
}
.button-area button:hover{
  background: #00ee92;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 0px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}

/*===== FOOTER =====*/
.footer{
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  text-align: center;
}

.footer-container{
  padding: 3rem 0;
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}

.footer-social{
  margin-bottom: var(--mb-3);
}

.footer-link{
  font-size: 1.4rem;
  color: var(--first-color-lighten);
  margin: 0 var(--mb-1);
  transition: .3s;
}

.footer-link:hover{
  color: var(--first-color-light);
}

.footer-copy{
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}
/*===== MEDIA QUERIES =====*/

@media screen and (min-width: 300px){
  .home h1{
    font-size: 1.9rem;
  }

  .home-description{
    font-size: 17px;
  }

  .home-container{
    padding: 6rem 1rem 2rem;
  }

  .home-img img{
    width: 320px;
  }

  .home-social-icon{
    font-size: 1.8rem;
  }

  .home:before{
    background: rgba(0, 0, 0, 0.650);
  }

  .section-title{
    font-size: 3rem;
  }
  
  .about .section-title p{
    font-size:20px;
  }
}

@media screen and (min-width: 576px){
  .about-container, .services-container, .portfolio-container{
    grid-template-columns: repeat(2,1fr);
  }

  .about-description{
    text-align: initial;
  }
}

@media screen and (min-width: 769px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 6rem;
  }


  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav-list{
    display: flex;
  }

  .nav-item{
    margin-bottom: 0;
  }

  .nav-toggle{
    display: none;
  }

  .home-container{
    height: 100vh;
    align-content: flex-end;
    padding: 8rem 1rem 2rem;
  }

  .home-img img{
    width: 500px;
  }

  .home h1{
    font-size: 3rem;
  }
  
  .home-description{
    font-size: 25px;
  }

  .home-social-icon{
    font-size: 1.8rem;
  }

  .services-container, .portfolio-container{
    grid-template-columns: repeat(3,1fr);
  }

  .home:before{
    background: rgba(0, 0, 0, 0.850);
  }

  .section-title{
    font-size: 4rem;
  }
  
  .about .section-title p{
    font-size:30px;
  }
}